@media (min-width: 992px) and (max-width: 1199.98px) {
    .section1-navbar {
        flex-wrap: nowrap;
    }

    .homepage-section-1 {
        height: 60vh;
    }

    .homepage-section-1 .bg-carousel {
        height: 60vh;
        overflow: hidden;
    }

    .opacity-black {
        height: 60vh;
    }

    .section1-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-menu-responsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-menu {
        width: 40%;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 70vh;
        background-color: #252c30;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 15;
        display: none;
        overflow: scroll;
    }

    .navbar-menu .navbar-item {
        padding: 10px;
        margin: 10px 0px;
        border-radius: 20px;
        width: 100%;
        font-size: 20px;
    }

    .navbar-menu .navbar-item:last-child {
        padding: 0;
        margin: 20px 0px 0px 0px;
        border-radius: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .navbar-menu .navbar-item:hover {
        background-color: #88b44e;
    }

    .navbar-user {
        height: 100px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-user li:first-child {
        display: none;
    }

    .input-search {
        margin: 20px 0px 100px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .input-search input {
        width: 90%;
        height: 50px;
        border-radius: 25px;
        border: none;
        outline: none;
        padding-left: 10px;
    }

    .input-search > div {
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }

    .input-search i {
        width: 15%;
        height: 50px;
        color: white;
        background-color: #88b44e;
        border-radius: 0px 25px 25px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        display: block;
        position: relative;
        right: 10%;
        cursor: pointer;
    }

    .navbar-menu-unhide {
        display: block;
    }

    .section-1-social {
        display: none;
    }

    .section-1-blank {
        display: none;
    }

    /*homepage-section-2*/
    .section2-block-icon-item::after {
        display: none;
    }

    /*home-page-section-4*/
    .section4-bg > img {
        display: none;
    }

    .section4-content {
        padding-left: 50px;
    }

    /*homepage-section-6*/
    .modal-dialog {
        max-width: 90%;
    }

    /*homepage-section-7*/
    .homepage-section-7 {
        height: 600px;
    }

    /*homepage-section-9*/
    .section9-container {
        flex-wrap: nowrap;
    }

    .section9-content img {
        width: auto;
    }

    .section9-content h2, .section9-content .section9-descr {
        padding-left: 0px;
    }

    .section9-content > .readmore-btn {
        margin-left: 0px;
    }

    .section9-container > img {
        width: 40%;
    }
}

@media (max-width: 575.98px) {
    .section1-navbar {
        flex-wrap: nowrap;
    }

    .navbar-logo img {
        height: 100px;
    }

    .homepage-section-1 {
        height: 90vh;
    }

    .homepage-section-1 .bg-carousel {
        height: 90vh;
        overflow: hidden;
    }

    .opacity-black {
        height: 90vh;
    }

    .section1-content {
        padding-top: 10px;
    }

    .section1-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-menu-responsive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-menu {
        width: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100vh;
        background-color: #252c30;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 15;
        display: none;
        overflow: scroll;
    }

    .navbar-menu .navbar-item {
        padding: 10px;
        margin: 10px 0px;
        border-radius: 20px;
        width: 100%;
        font-size: 20px;
    }

    .navbar-menu .navbar-item:last-child {
        padding: 0;
        margin: 20px 0px 0px 0px;
        border-radius: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .navbar-menu .navbar-item:hover {
        background-color: #88b44e;
    }

    .navbar-user {
        height: 100px;
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-user li:first-child {
        display: none;
    }

    .input-search {
        margin: 20px 0px 100px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .input-search input {
        width: 90%;
        height: 50px;
        border-radius: 25px;
        border: none;
        outline: none;
        padding-left: 10px;
    }

    .input-search > div {
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
    }

    .input-search i {
        width: 15%;
        height: 50px;
        color: white;
        background-color: #88b44e;
        border-radius: 0px 25px 25px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger {
        display: block;
        position: relative;
        right: 10%;
        cursor: pointer;
    }

    .navbar-menu-unhide {
        display: block;
    }

    .carousel-indicators {
        display: none;
    }

    .section-1-blank {
        display: none;
    }

    .section1-content > img {
        display: none;
    }

    .section-1-content-title h1 {
        font-size: 36px;
    }

    .section-1-content-title p {
        padding: 20px 0px 0px 0px !important;
        font-size: 16px;
    }

    .section-1-social {
        display: none;
    }

    .readmore-btn {
        margin-top: 10px !important;
    }

    /* .homepage-section-2 */
    .section2-services {
        border-radius: 0px;
        height: 375px;
    }

    .section2-services .services-item:last-child {
        border-radius: 0px;
    }

    .section2-block-icon-item::after {
        display: none;
    }

    .section2-heading h2, .homepage-section-3 h2 {
        display: none;
    }

    /*home-page-section-4*/
    .homepage-section-4, .section4-bg {
        height: 700px;
    }

    .homepage-section-4 {
        display: flex;
        align-items: center;
    }

    .section4-bg > img {
        display: none;
    }

    .section4-content {
        height: auto;
        padding: 0;
        justify-content: center;
    }

    .section4-content h3, p {
        text-align: center;
    }

    .section4-item {
        margin-bottom: 20px !important;
    }

    .section4-uses {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    /*homepage-section-6*/
    .homepage-section-6 {
        height: 500px;
    }

    .section6-bg > .leaf-bg {
        display: none;
    }

    .section6-bg > img, .section6-bg > .opacity-black {
        height: 500px !important;
    }

    .video-descr, .video-descr > .opacity-black, .video-descr > img {
        height: 200px;
    }

    .modal-dialog {
        max-width: 100%;
    }

    .modal-content {
        height: 300px;
    }

    /*homepage-section-7*/
    .homepage-section-7 {
        height: 750px;
        padding-top: 0px;
    }

    .section7-title > img {
        width: 100%;
    }

    /*homepage-section-8*/
    .homepage-section-8 {
        height: 300px;
    }

    .section8-content {
        flex-direction: column;
    }

    .section8-content::before {
        display: none;
    }

    .section8-contact > img {
        display: none;
    }

    .section8-content > i, .section8-contact > h2 {
        margin-bottom: 20px;
    }

    .section8-content > i {
        text-align: center;
    }

    /*homepage-section-9*/
    .homepage-section-9 {
        height: 500px;
    }

    .section9-content {
        padding: 0px 20px;
        align-items: center !important;
    }

    .section9-content img {
        width: auto;
    }

    .section9-container > img {
        display: none;
    }

    .section9-content h2, .section9-content .section9-descr {
        margin-top: 0;
        padding-left: 0px;
        text-align: center;
    }

    .section9-content > .readmore-btn {
        margin-left: 0px;
    }

}

@media (max-width: 320px) {
    .homepage-section-1 {
        height: 100vh;
    }

    .homepage-section-1 .bg-carousel {
        height: 100vh;
    }

    .opacity-black {
        height: 100vh;
    }

    .section7-title > h2 {
        font-size: 150px;
        margin-bottom: 0px;
    }

    .section8-content > i {
        text-align: center;
    }

    .section9-content img {
        width: 100%;
    }
}
