/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

body {
    font-family: "Playfair Display", serif;
}

/*homepage-section-1*/
.homepage-section-1 {
    height: 110vh;
}

.homepage-section-1 .bg-carousel {
    position: absolute;
    height: 110vh;
}

.bg-carousel {
    overflow: hidden;
}

.img-fluid {
    height: 110vh;
}

.opacity-black {
    height: 110vh;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}

.carousel-inner {
    z-index: -1;
}

.carousel-indicators {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    flex-direction: column;
    margin-right: 40px;
    margin-left: 0;
    left: auto;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: aqua;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
    }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

.carousel-inner .carousel-item > img {
    -webkit-animation: zoom 40s;
    animation: zoom 40s;
}

/*section1-navbar*/
.section1-navbar {
    display: flex;
    flex-direction: column;
}

.navbar-logo {
    padding: 25px 0;
}

.navbar-logo img {
    max-height: 150px;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu-responsive {
    display: none;
}

.navbar-menu-responsive img {
    width: 40%;
    margin: 30px 0;
}

.navbar-menu-responsive button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    justify-self: flex-end;
}

#hide-navbar i {
    font-size: 30px;
}

.navbar-menu li {
    list-style-type: none;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
}

.list-inline-item i {
    color: #88b44e;
}

.input-search {
    display: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: #88b44e;
    margin: 5px;
}

.section1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.section1-content > img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.section-1-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1-content-title h1 {
    font-size: 72px;
}

.section-1-content-title p {
    padding: 0px 250px;
    font-size: 16px;
    color: white;
}

.readmore-btn {
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #88b44e;
    color: white;
}

.section-1-content-title > .readmore-btn:hover {
    background-color: white;
    color: #252c30;
}

.section-1-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-1-social i {
    cursor: pointer;
    color: white;
}

.follow-us {
    display: flex;
    transform: rotate(-90deg);
    justify-content: center;
    align-items: center;
}

.follow-us > p {
    color: #88b44e;
    width: 60px;
    font-size: 14px;
}

.follow-us div {
    background-color: #88b44e;
    border: 1px solid #88b44e;
    width: 50px;
}

.navbar-item a:hover,
.section-1-social i:hover {
    color: #88b44e;
    transition: 0.3s linear;
}

/* homepage-section-2 */
.homepage-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-services {
    position: relative;
    top: -50px;
    height: 100px;
    border-radius: 50px;
}

.section2-services .services-item {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-item-content {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.services-item-content p {
    font-weight: 900;
}

.section2-services .services-item:last-child {
    border-radius: 0px 50px 50px 0px;
}

.section2-heading,
.section2-heading-content,
.section3-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-heading h2,
.section3-title h2 {
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    opacity: 0.03;
}

.section2-heading-content {
    flex-direction: column;
}

.section2-heading-content p {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
}

.section2-heading-content h4 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.section2-heading-content i {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.section2-block-icon {
    margin-top: 50px;
}

.section2-block-icon-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-block-icon-item::after {
    content: "";
    width: 50px;
    border-bottom: 1px dashed #252c30;
    display: block;
    position: absolute;
    right: -20px;
    top: 50px;
}

.section2-block-icon-item .block-icon {
    width: 85px;
    height: 85px;
    background-color: #88b44e;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-icon-content h5 {
    font-size: 18px;
    font-weight: 900;
    margin: 15px 0px 10px;
    text-align: center;
}

.block-icon-content p {
    font-size: 14px;
    text-align: center;
}

.homepage-section-2 button {
    background-color: #252c30;
    margin-bottom: 90px;
}

.homepage-section-2 > button i {
    color: #88b44e !important;
}

.homepage-section-2 > .readmore-btn:hover {
    background-color: #88b44e;
}

.homepage-section-2 > .readmore-btn:hover > i {
    color: #252c30 !important;
}

/*homepage-section-3*/
.homepage-section-3 {
    display: flex;
    flex-direction: column;
    background-color: #e6f7f7;
    padding: 50px 0px;
}

.swiper-wrapper {
    padding-top: 50px;
}

.swiper-wrapper .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.swiper-wrapper .item:hover .descr h5 {
    color: #88b44e;
    transition: 0.3s linear;
}

.descr-bg .bg-watermark {
    position: absolute;
    top: 0;
    padding: 10px;
    width: 30% !important;
}

.descr {
    width: 90%;
    height: 100px;
    background-color: white;
    position: relative;
    top: -50px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descr h5 {
    font-size: 24px;
    font-weight: 900;
}

.descr p {
    font-size: 14px;
    text-align: center;
}

.owl-dots {
    display: none;
}

.owl-nav > button {
    height: 50px;
    width: 50px;
    border-radius: 100% !important;
    background-color: #88b44e !important;
}

.owl-nav span {
    font-size: 18px;
    color: white;
}

/*homepage-section-4*/
.homepage-section-4 {
    height: 600px;
}

.section4-bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88b44e;
    height: 600px;
    overflow: hidden;
}

.section4-bg > img {
    position: absolute;
    right: -10%;
}

.section4-content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.section4-content h3 {
    font-size: 36px;
    font-weight: 900;
    color: #252c30;
}

.section4-content p {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: white;
}

.section4-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section4-item .section4-icon {
    border: 1px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4-item > p {
    font-style: normal;
    color: #252c30;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 0;
    padding-left: 10px;
}

.section4-uses > button {
    background-color: #252c30;
    margin-left: 15px;
    font-weight: 900;
}

.readmore-btn > i {
    color: #88b44e;
}

.section4-uses > .readmore-btn:hover {
    background-color: white;
    color: #252c30;
}

.section4-uses > .readmore-btn:hover > i {
    color: #252c30 !important;
}

/*homepage-section-5*/
.homepage-section-5 .owl-nav {
    display: none;
}

.product-item {
    cursor: pointer;
}

.product-item .product-sale {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: red;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}

.product-sale > span {
    text-align: center;
}

.product-rating i {
    font-size: 10px;
    color: #f3d200;
}

.product-item > h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 14px;
}

.product-item > .product-descr {
    font-size: 14px;
    text-align: center;
}

.product-item > .product-price {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #88b44e;
}

.homepage-section-5 > .readmore-btn:hover {
    background-color: #252c30;
}

.homepage-section-5 > .readmore-btn:hover > i {
    color: #88b44e !important;
}

.product-item .product-detail {
    background-color: rgba(210, 221, 215, 0.6);
    border-bottom: 4px solid #88b44e;
    height: 100%;
    position: absolute;
    display: none;
}

.product-detail > button {
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}

.product-detail > .more-info-btn {
    background-color: white;
}

.product-detail > .more-info-btn > i {
    color: #88b44e;
}

.product-detail > .more-info-btn:hover {
    background-color: #252c30;
    color: white;
}

.product-detail > .add-to-cart-btn {
    background-color: #88b44e;
    color: white;
}

.product-detail > .add-to-cart-btn > i {
    color: #252c30;
}

.product-detail > .add-to-cart-btn:hover {
    background-color: #252c30;
}

.product-detail > .add-to-cart-btn:hover > i {
    color: #88b44e;
}

.product-item,
.homepage-section-5,
.product-item:hover .product-detail,
.product-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .homepage-section-6 */
.homepage-section-6 {
    height: 700px;
}

.section6-bg {
    position: relative;
    z-index: -1;
}

.section6-bg > .video-parallax {
    position: absolute;
    width: 100%;
    height: 700px;
}

.section6-bg > .opacity-black {
    height: 700px;
    z-index: 0;
}

.section6-bg > .leaf-bg {
    height: 700px;
    position: absolute;
    top: -100px;
    z-index: 1;
}

.section6-title {
    padding-top: 80px;
}

.section6-title > h2 {
    font-size: 60px;
    color: white;
    font-weight: 900;
    text-align: center;
}

.section6-title > p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.video-descr {
    margin-top: 50px;
    height: 520px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-descr > .opacity-black {
    height: 520px;
}

.img-video-descr {
    height: 700px;
    position: absolute;
    z-index: -1;
}

#play-video-btn {
    width: 100px;
    height: 100px;
    border: 10px solid white;
    border-radius: 100%;
    background-color: #88b44e;
    outline: none;
    text-align: center;
}

#play-video-btn:hover {
    background-color: #252c30;
    border-color: #88b44e;
}

.modal {
    background-color: rgba(0, 0, 0, .5);
}

.modal-dialog {
    max-width: 70%;
}

.modal-content {
    height: 600px;
    background: transparent;
    border: none;
    outline: none;
}

.modal-header {
    border: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.modal-header > button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

.modal-unhide {
    display: block !important;
}

/*homepage-section-7*/
.homepage-section-7 {
    background: url("../assets/img/customers-bg-gray.jpeg") center no-repeat;
    height: 700px;
    padding-top: 85px
}

.homepage-section-7 > .section7-title {
    height: 100%;
}

.section7-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7-title > img {
    position: absolute;
}

.section7-title > h2 {
    font-size: 200px;
    font-weight: 900;
    color: #88b44e;
}

.section7-title > h3 {
    font-size: 60px;
    font-weight: 900;
    margin-top: 20px;
    text-align: center;
}

.section7-title > i {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    padding: 0px 50px;
}

/*homepage-section-8*/
.homepage-section-8 {
    background-color: #88b44e;
    height: 150px;
}

.section8-content::before {
    content: "";
    width: 80px;
    position: relative;
    display: block;
    border-top: 1px solid #252c30;
    margin-right: 20px;
}

.homepage-section-8, .section8-content, .section8-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section8-content, .section8-contact {
    flex-direction: row;
}

.section8-content > i {
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.section8-contact > h2 {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin: 0px 0px 0px 20px;
}

.section8-content > .readmore-btn {
    background-color: #252c30;
}

.section8-content > .readmore-btn:hover {
    background-color: white;
    color: #252c30;
}

.section8-content > .readmore-btn:hover > i {
    color: #252c30;
}

/*homepage-section-9*/
.homepage-section-9 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-section-9 .section9-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section9-content img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.section9-content h2 {
    font-size: 36px;
    font-weight: 900;
    margin-top: 90px;
}

.section9-content .section9-descr {
    font-size: 24px;
    font-weight: 400;
}

.section9-content > .readmore-btn {
    margin-top: 30px;
    margin-left: 65px;
}

.section9-content > .readmore-btn i {
    color: #252c30;
}

.section9-content h2, .section9-content .section9-descr {
    padding-left: 65px;
}

.section9-content > .readmore-btn:hover {
    background-color: #252c30;
}

.section9-content > .readmore-btn:hover > i {
    color: #88b44e;
}

/*homepage-section-10*/
.homepage-section-10{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.homepage-section-10 img{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
}